<div style="display: grid; grid-auto-columns: 120px; grid-auto-rows: auto;">
  <app-header-select *ngFor="let _ of [].constructor(columnCount); index as i"
    [style]="'grid-column-start: ' + (i + 1)">
  </app-header-select>
  <div [style]="'grid-column-start:' + (columnCount + 1)">Action</div>
  <ng-container *ngFor="let item of items">
    <input #myInput *ngFor="let col of item; index as i" type="text" value="{{col}}" [style]="'grid-column-start: ' + (i + 1)"
      readonly>
    <app-action-select [options]="categoryOptions" [style]="'grid-column-start: ' + (columnCount + 1)">
    </app-action-select>
  </ng-container>
</div>
