:host {
    display: grid;
    grid-auto-rows: auto;
    column-gap: 2px;
    row-gap: 2px;

    /* Column width */
    grid-auto-columns: 1fr;
}

div {
    width: 1fr;
}

input {
    width: calc(100% - 8px);
    margin: 0px;
}
